/*CSS file is made by Frederik*/

#puzzle_canvas {
    -fx-background-color: grey;
}

#main_menu_canvas {
    -fx-background-color: black
}

.button {
    -fx-font-size: 22px;
    -fx-font-family: "Roboto Light", sans-serif;
    -fx-font-weight: bold;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-position-shape: relative;
}  .button:hover {
   -fx-background-color: black;
    -fx-text-fill: white;
}

#main_menu_button {
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-background-color: radial-gradient(focus-distance -100%, center 20% 50%, radius 55%, #ffff00, black);
    -fx-background-size: 150%;
} #main_menu_button:hover {
      -fx-background-color: radial-gradient(focus-distance -100%, center 50% 50%, radius 80%, #ffff00, black);
  }

  .text-field {
      -fx-font-size: 22px;
      -fx-min-width: 200px;
      -fx-min-height: 50px;
      -fx-background-color: -fx-text-box-border, -fx-background;
      -fx-background-insets: 0, 0 0 4 0;
      -fx-background-radius: 0;
  }